{% extends 'base.html.twig' %}

{% block stylesheets %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Purify your planet </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">

</head>



{% endblock %}



{% block body %}


<h1 class="site-heading text-center text-white d-none d-lg-block" style="
    display: block!important;">
    <span class="site-heading-upper text-primary mb-3"> Purify your <b> planet </b></span>
    <span class="site-heading-lower">Notre <b>futur </b>, pour <b> nous </b>, par <b> nous </b> ! </span>
  </h1>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Un meilleur monde </span>
            <span class="section-heading-lower"></span>
          </h2>
          <p class="mb-3">PYP est une association qui organise des événements de nettoyage. Nous intervenons sur plusieurs secteurs. A travers notre site, nous vous offrons la possibilité de nous rejoindre et de nous aider à organiser nos événements, en choisissant le lieu et la date. 
          </p>
          <!--<div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta" style="
    padding-bottom: 0rem; ">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Notre PROMESSE</span>
              <span class="section-heading-lower">ENVERS VOUS </span>
            </h2>
            <p class="mb-0">Nous promettons que vous ressortirez de nos événements avec une envie encore plus forte de changer les choses pour notre planète et pour notre futur. <b> NOUS NE SAUVONS PAS SEULEMENT LA PLANÈTE, NOUS SAUVONS AUSSI L’HUMANITÉ. </b> 
            De plus, nous vous promettons de vous sensibiliser au mieux au développement durable, ainsi que sur l’impact du réchauffement climatique. Nous vous promettons de créer un sentiment de convivialité avant, pendant, et après l’événement. 
            Afin de remercier vos participations, différentes surprises vous attendent au fur et à mesure de votre participation. 
            espèces invasives ( <b>frelons asiatiques, ragondins </b>…)
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    
    <h1 style="text-align: center;
    font-family: fantasy;
    color: black;">QUI SOMMES NOUS </h1>
  <section class="page-section about-heading"> 
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/l'equipe.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">L'Équipe</span>
                <span class="section-heading-lower"></span>
              </h2>
              <p> <b>PYP est une association </b> qui organise des événements de nettoyage sur plusieurs secteurs (<b>quartiers, forêts, bois, plages </b> etc.). Notre équipe est composée de <b>6 étudiants, </b> mais l’acteur principal c’est vous ! Notre objectif est d’intervenir sur différents secteurs dans l’intention de rendre notre environnement meilleur.
               Nous voulons véhiculer l’idée que notre futur s’améliorera grâce à nous même. Conscient de l’état de <b> notre planète </b>, nous nous devons d’agir même à notre échelle. 
             </p>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/O.png" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"> L'ORGANISATION</span>
                <span class="section-heading-lower"></span>
              </h2>
              <p>Nos événement se déroulent dans la convivialité et la gaieté. Des collations amicales se déroulent après nos événements. Des écologistes expérimentés sont aussi présent pour vous faire part de leur volonté et pour vous sensibiliser à leur cause. 
              De plus, vous avez la possibilité de récupérer des récompenses au fur et à mesure de vos expériences. {Plusieurs récompenses sont possibles, comme des bons de réduction dans des magasins bio (<b>Naturalia, Biocop, Greenweez</b>), des boites de compost ou encore des plantes.}
              Serons en ventes très <b>prochement des vêtements issus du recyclage. </b>
              Venez chercher de la bonne humeur tout en faisant une bonne action pour votre planète !
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/E.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">L’EXPÉRIENCE</span>
                <span class="section-heading-lower"></span>
              </h2>
              <p>Nos événement se déroulent dans la convivialité et la gaieté. Des collations amicales se dérouleront avant ou après nos événements. Des membres de plus grosses associations écologiques seront aussi présent pour vous faire part de leur volonté et pour vous sensibiliser à leur cause. 
              De plus, les participants ont la possibilité de récupérer des récompenses au fur et à mesure de leur expériences. Plusieurs récompenses sont possibles, comme des bons de réduction dans des magasins bio ( <b>Naturalia, Biocop, Greenweez </b>), des boites de compost ou encore des plantes. 
              Les participants auront aussi la possibilité d’acheter <b> des vêtements issus du recyclage </b>. 
              Venez chercher de la bonne humeur tout en faisant une bonne action pour votre planète !
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p style="
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: large;">  Ne doutez plus un instant, aidez nous !</p>
    <p style="
    text-align: center;
    font-family: fantasy;
    font-size: x-large;
    color: aliceblue;"> VOUS AVEZ LE MONDE ENTRE VOS MAINS ! </p>
  </section>

  
      <section class="contact-section bg-black" style="margin-top: 10px;margin-bottom: 51px;">
        
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2" style="font-size: xx-large;"></i>
              <h4 class="text-uppercase m-0"> <b>Adresse </b> </h4>
              <hr class="my-4">
              <div class="small text-black-50">20bis Jardins Boieldieu, 92200 Puteaux </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2" style="font-size: xx-large;"></i>
              <h4 class="text-uppercase m-0"><b> Email </b></h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">purifyourplanet@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2" style="font-size: xx-large;"></i>
              <h4 class="text-uppercase m-0"><b>Téléphone </b></h4>
              <hr class="my-4">
              <div class="small text-black-50">06 29 25 74 40</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

{% endblock %}

  {% block javascripts %}
          <script src="vendor/jquery/jquery.min.js"></script>
         <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
